@font-face {
    font-family:'Roboto-Regular';
    src: url(font/Roboto-Regular.ttf) format('ttf'),
       
 }

@font-face {
    font-family:'Inter-Regular';
    src: url(font/Inter-Regular.ttf) format('ttf'),
   
}        
   
body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family:'Inter-Regular', sans-serif;
    font-size: 14px;
    line-height: 24px;
    background-color: #202020;
}
main {
    width: min(100%, 116.25rem);
    margin-left: auto;
    margin-right:auto;

}
/* définition de la grid  */
header {
    display:grid;
    grid-template-columns:200px 220px 300px 4fr ;
    grid-template-rows:50px;
    margin: 22px 60px 0 70px;
}
#nivo_1text1 {
    grid-column: 1;
    grid-row: 1;
    font-family: 'Roboto-Regular',sans-serif;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
    
}
#imgtel_1 {
    grid-column: 2;
    grid-row: 1;
    margin: 12px 0;
   
}
#nivo_1tel {
    grid-column: 2;
    grid-row: 1;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 10px 0 8px 32px;
   
}
#imgmail_1 {
    grid-column:3;
    grid-row:1;
    margin: 12px 0;
}
#nivo_1mail {
    grid-column: 3;
    grid-row: 1;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 10px 0 8px 32px;
    
}
#nivo_1burger {
    grid-column: 4;
    grid-row: 1;
    justify-self: end;
    align-items: center;
    margin: 10px 10px 8px 40px;

/* paramétrage du menu burger */
}
#nivo_1burger span {
    display:block;
    width: 24px;
    height:1px;
    background-color:#888888 ;
    margin:9px 0;

}
/* mise en forme */
p {
    margin: 0;
}
a {
    text-decoration: none;
}
#nivo_1 {
    background-image: url(images/fond_1.svg);
    background-repeat: no-repeat;
    background-size: cover;
   
}
#nivo_1-section {
    display:flex;
    margin-top: 100px;
    margin-left: 390px;
}
#clientsection1{
    text-align: center;
    margin-top:220px ;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #BFBFBF;
}
/* definition grid footer section 1 */
#clients {
    display:grid;
    grid-template-columns: 130px 130px 250px 240px 200px 180px;
    grid-template-rows: 120px;
    justify-content:center;    
    margin-right:120px ;
    margin-left:220px;
}
#client_1 {
    grid-column: 1;
    grid-row: 1;
    margin-top:16px ;
    width: 109px;
}
#client_2 {
    grid-column: 2;
    grid-row: 1;
    margin-left:10px;
    
}
#client_3 {
    grid-column: 3;
    grid-row: 1;
    margin-left:8px;
    margin-right: 20px;
    width: 190px;

}
#client_4 {
    grid-column: 4;
    grid-row: 1;
    width: 200px;
}
#client_5 {
    grid-column: 5;
    grid-row: 1;
    margin-top:32px ;
    margin-right:20px;
    width: 200px;
}
#client_6 {
    grid-column: 6;
    grid-row: 1;
    margin-top: 31px;
    margin-right: 5px;
    margin-left:20px;
    width:180px ;
    
}

/* definition du trait de soulignement */
.trait1 {
    position: relative;
}
.trait1::after {
    content:"";
    display:block;
    position: absolute;
    height: 0;
    width: 73px;
    border-top: 0.24rem solid #F87F28 ;
    top:26px;
    left:0px;
}
/* definition grid et contenu texte */
#textsection_1 {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows:60px 110px 100px 100px 95px 30px ;
    margin-top: 70px 0 145px 390px;
}
h1 {
    grid-column: 1;
    grid-row:1;
    font-family: 'Roboto-Regular',sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    color: #FFFFFF;
}

#presa_olivier {
    grid-column: 1;
    grid-row: 2;
    font-weight: 400;
    font-size: 72px;
    line-height: 101px;
    letter-spacing: -3px;
    color: #FFFFFF;

}
#prenom {
    grid-column: 1;
    grid-row:3;
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 101px;
    letter-spacing: -1px;
    color: #F87F28;
}
#pedigre {
    grid-column:1;
    grid-row:4;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding-right:288px ;

}
#fonction { 
    grid-column: 1; 
    grid-row:5;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;

}
#nivo_1btn {
    grid-column: 1;
    grid-row:6;
}
/* mise en forme bouton et hover */
.button1 {
  
    padding:12px 32px;
    background: #BB2323;
    color:#FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    margin-right:  1.4375rem;
    border:none
}
.button1:hover {
    border: 2px solid #F87F28;
    background-color: #202020;
    color:#F87F28 ;
}



